.search-box::placeholder {
    color: lightgray;
}

.dropdown-menu {
    max-height: 500px;
    overflow-y: auto;
}

.filter-section {
    margin-bottom: 1rem;
}

.apply-filters-btn {
    float: right;
}

.scrollable {
    max-height: 6em;
    overflow-y: auto;
}

.ingredient {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.ingredient img {
    max-width: 150px;
    max-height: 150px;
    margin-right: 10px;
}