{% extends 'base.html' %}

{% block title %}Add Recipe{% endblock %}

{% block content %}
<div class="container">
    <h1 class="heading-primary">Add New Recipe</h1>
        {% csrf_token %}
        <div class="form__group">
            <label class="form__label" for="label">Recipe title:</label>
            <div class="form__input-wrapper">
                <input class="form__input" type="text" id="label" name="recipeTitle" required>
            </div>
        </div>
        <br />
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="filterDropdown" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Categories
            </button>
            <div class="dropdown-menu" aria-labelledby="filterDropdown">
                <div class="filter-section" data-filter-type="category">
                    <h6>Categories</h6>
                    <input type="text" class="filter-search form-control" placeholder="Search categories">
                    <h6 style="display: none;">Selected Categories</h6>
                    <div class="selected-filters scrollable">
                        <!-- Display selected categories here -->
                    </div>
                    <div class="filter-list scrollable">
                        <!-- Display the list of categories here -->
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="filterDropdown" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Techniques
            </button>
            <div class="dropdown-menu" aria-labelledby="filterDropdown">
                <div class="filter-section" data-filter-type="technique">
                    <h6>Techniques</h6>
                    <input type="text" class="filter-search form-control" placeholder="Search techniques">
                    <h6 style="display: none;">Selected techniques</h6>
                    <div class="selected-filters scrollable">
                        <!-- Display selected categories here -->
                    </div>
                    <div class="filter-list scrollable">
                        <!-- Display the list of categories here -->
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="filterDropdown" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Ingredients
            </button>
            <div class="dropdown-menu" aria-labelledby="filterDropdown">
                <div class="filter-section" data-filter-type="ingredient">
                    <h6>Ingredients</h6>
                    <input type="text" class="filter-search form-control" placeholder="Search ingredients">
                    <h6 style="display: none;">Selected Ingredients</h6>
                    <div class="selected-filters scrollable">
                        <!-- Display selected categories here -->
                    </div>
                    <div class="filter-list scrollable">
                        <!-- Display the list of categories here -->
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="form__group">
            <label class="form__label" for="description">Description:</label>
            <div class="form__input-wrapper">
                <textarea class="form__textarea" id="description" name="description" required></textarea>
            </div>
        </div>
        <div class="form__group">
            <button class="btn btn-primayr apply-filters-btn">Submit</button>
        </div>
</div>

<script>
    $(document).ready(function () {
        const categoryList = {{ category_list| safe}};
    const techniqueList = {{ technique_list| safe }};
    const ingredientList = {{ ingredient_list| safe }};
    let selectedCategories = {{ selected_categories| safe }};
    let selectedTechniques = {{ selected_techniques| safe }};
    let selectedIngredients = {{ selected_ingredients| safe }};

    function initializeSelectedItems(filterType, selectedItems) {
        var selectedItems;
        if (filterType === 'category') {
            selectedItems = selectedCategories;
        } else if (filterType === 'technique') {
            selectedItems = selectedTechniques;
        } else if (filterType === 'ingredient') {
            selectedItems = selectedIngredients;
        }
        displaySelectedItems(filterType, selectedItems);
    }

    function displayItems(items, filterType, selectedItems) {
        const filterList = $(`.filter-section[data-filter-type="${filterType}"] .filter-list`);
        filterList.empty();
        items.forEach(item => {
            const isChecked = selectedItems.includes(item);
            const checked = isChecked ? 'checked' : '';
            filterList.append(`
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="${item}" id="${filterType}-${item}" ${checked}>
                                <label class="form-check-label" for="${filterType}-${item}">
                                    ${item}
                                </label>
                            </div>
                        `);
        });
    }

    function filterItems(searchText, itemList) {
        return itemList.filter(item => item.toLowerCase().includes(searchText.toLowerCase()));
    }

    function displaySelectedItems(filterType, selectedItems) {
        const selectedFilters = $(`.filter-section[data-filter-type="${filterType}"] .selected-filters`);
        selectedFilters.empty();
        for (let i = 0; i < selectedItems.length; i++) {
            const item = selectedItems[i];
            selectedFilters.append(`
                            <div class="d-flex align-items-center mb-2">
                                <span class="me-1">${item}</span>
                                <button class="btn btn-sm btn-danger ms-2" data-filter-type="${filterType}" data-item="${item}">X</button>
                            </div>
                        `);
        }
        if (selectedItems.length > 0) {
            selectedFilters.prev('h6').show();
        } else {
            selectedFilters.prev('h6').hide();
        }
    }

    $('.apply-filters-btn').on('click', function () {
        // Create a new form
        const form = $('<form>').attr({
            method: 'POST',
            action: '/insert-new-recipe' // Replace 'your-server-url' with the actual URL to which you want to send the data
        });

        const crf =  $('<input>').attr({
            type: 'hidden',
            name: 'csrfmiddlewaretoken',
            value: $('input[name="csrfmiddlewaretoken"]').val()
        });
        form.append(crf);
        // Create and append an input field for searchTitle
        const searchTitleInput = $('<input>').attr({
            type: 'hidden',
            name: 'recipeTitle',
            value: $('input[name="recipeTitle"]').val()
        });
        form.append(searchTitleInput);


        // Create and append an input field for selected_categories
        const selectedCategoriesInput = $('<input>').attr({
            type: 'hidden',
            name: 'selected_categories',
            value: selectedCategories.join(',')
        });
        form.append(selectedCategoriesInput);

        // Create and append an input field for selected_techniques
        const selectedTechniquesInput = $('<input>').attr({
            type: 'hidden',
            name: 'selected_techniques',
            value: selectedTechniques.join(',')
        });
        form.append(selectedTechniquesInput);

        // Create and append an input field for selected_ingredients
        const selectedIngredientsInput = $('<input>').attr({
            type: 'hidden',
            name: 'selected_ingredients',
            value: selectedIngredients.join(',')
        });
        form.append(selectedIngredientsInput);

        const description = $('<input>').attr({
            type: 'hidden',
            name: 'description',
            value: $('textarea[name="description"]').val()
        });
        form.append(description);

        // Append the form to the document body and submit it
        form.appendTo(document.body).submit();
    });


    $('.filter-section').on('change', 'input[type="checkbox"]', function () {
        const filterType = $(this).closest('.filter-section').data('filter-type');
        var selectedItems;
        if (filterType === 'category') {
            selectedItems = selectedCategories;
        } else if (filterType === 'technique') {
            selectedItems = selectedTechniques;
        } else if (filterType === 'ingredient') {
            selectedItems = selectedIngredients;
        }
        selectedItems.push($(this).val());
        displaySelectedItems(filterType, selectedItems);
    });

    $('.filter-section').on('click', '.selected-filters button', function (event) {
        // Prevent the event from propagating and closing the filter menu
        event.stopPropagation();

        // Get the filter type and item value from the clicked button's data attributes
        const filterType = $(this).data('filter-type');
        const item = $(this).data('item');

        // Uncheck the corresponding checkbox for the item in the filter list
        $(`input[type="checkbox"][id="${filterType}-${item}"]`).prop('checked', false);

        // Remove the item's div from the list of selected items
        $(this).parent().remove();

        if (filterType === 'category') {
            selectedCategories = selectedCategories.filter(category => category !== item);
        } else if (filterType === 'technique') {
            selectedTechniques = selectedTechniques.filter(technique => technique !== item);
        } else if (filterType === 'ingredient') {
            selectedIngredients = selectedIngredients.filter(ingredient => ingredient !== item);
        }

        // Hide the title if there are no more selected items
        const selectedFilters = $(`.filter-section[data-filter-type="${filterType}"] .selected-filters`);
        if (selectedFilters.children().length === 0) {
            selectedFilters.prev('h6').hide();
        }
    });

    // Add a delayed search function
    let timer;
    let prevSearchTextLength = 0;
    $('.filter-section input[type="text"].filter-search').on('input', function () {
        clearTimeout(timer);
        const searchText = $(this).val();
        const filterType = $(this).closest('.filter-section').data('filter-type');
        let itemList;

        var selectedItems;
        if (filterType === 'category') {
            itemList = categoryList;
            selectedItems = selectedCategories;
        } else if (filterType === 'technique') {
            itemList = techniqueList;
            selectedItems = selectedTechniques;
        } else if (filterType === 'ingredient') {
            itemList = ingredientList;
            selectedItems = selectedIngredients;
        }

        if (searchText.length > 2) {
            timer = setTimeout(() => {
                const filteredItems = filterItems(searchText, itemList);
                displayItems(filteredItems, filterType, selectedItems);
            }, 300);
        } else if (prevSearchTextLength > 2) {
            displayItems(itemList, filterType, selectedItems);
        }
        prevSearchTextLength = searchText.length;
    });

    displayItems(categoryList, 'category', selectedCategories);
    displayItems(techniqueList, 'technique', selectedTechniques);
    displayItems(ingredientList, 'ingredient', selectedIngredients);
    // Initialize selected items from the context
    initializeSelectedItems('category', selectedCategories);
    initializeSelectedItems('technique', selectedTechniques);
    initializeSelectedItems('ingredient', selectedIngredients);

    $('button[type="submit"].btn-primary').on('click', function (event) {
        event.preventDefault();
        $('.apply-filters-btn').trigger('click');
    });

    $('.dropdown-menu').on('click', function (event) {
        // Prevent the event from propagating and closing the filter menu
        event.stopPropagation();
    });
    });
</script>


{% endblock %}