{% extends 'base.html' %}

{% block title %}Ingredients{% endblock %}

{% block content %}
    <h1>Ingredients</h1>
    <ul>
        <div class="card-row">
            {% for obj in result %}
                <div class="card">
                    <img src="{{ "../static/images/no_photo.jpg" }}" alt="Image 1">
                    <h2>{{ obj.foodLabel.value }}</h2>
                    <p>{{ obj.foodDescription.value }}</p>
                </div>
            {% endfor %}
        </div>
    </ul>
{% endblock %}




