<!DOCTYPE html>
<html>
<head>
    <title>Food Labels</title>
</head>
<body>
    <h1>Food Labels</h1>
    <ul>
    {% for food in foods %}
        <li>
            <h2>{{ food.label }}</h2>
{#            <img src="{{ food.image }}" alt="{{ food.label }}">#}
            <p>{{ food.description }}</p>
            <p>{{ food.food }}</p>
            <a href="/update-food?food_uri={{ food.food }}"><button>Update</button></a>
        </li>
    {% endfor %}
    </ul>
    <a href="/add-food"><button>Add New Food Item</button></a>
</body>
</html>