{% extends 'base.html' %}

{% block title %}Recipe Details{% endblock %}

{% block content %}
<div class="h-recipe">
    <h1 class="p-name">{{ recipe.title }}</h1>
    <p><strong>Servings:</strong> <data class="p-yield">{{ recipe.servings }}</data></p>

    <h2>Categories</h2>
    <ul>
        {% for category in recipe.categories %}
        <li class="p-category" style="padding: 0;">{{ category }}</li>
        {% endfor %}
    </ul>

    <h2>Ingredients</h2>
    <ul>
        {% for ingredient in recipe.ingredients %}
        <li class="p-ingredient" style="padding: 0;">
            {% if ingredient.img_url %}
            <img src="{{ ingredient.img_url }}" alt="{{ ingredient.label }} image">
            {% endif %}
            <span><strong>{{ ingredient.label }}:</strong> {{ ingredient.desc }}</span>
        </li>
        {% endfor %}
    </ul>

    <h2>Techniques</h2>
    <ul>
        {% for technique in recipe.techniques %}
        <li class="p-instructions" style="padding: 0;"><strong>{{ technique.label }}:</strong> {{ technique.desc }}</li>
        {% endfor %}
    </ul>

    <h2>Similar Recipes</h2>
    <ul>
        {% for rel_recipe in recipe.related_recipes %}
        <li style="padding: 0;"><a href="/recipe/{{ rel_recipe.id }}">{{ rel_recipe.title }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
